::before, ::after{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #181818;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
  margin: 0;
}

.jp-font * { /* pixle font */
  font-family: "MS PGothic", "ＭＳ Ｐゴシック", sans-serif !important;
}

.peak{
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.nav-bar{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

/* --- video player --- */
.vid-container {
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin-inline: auto;
}

.vid-container.theater,
.vid-container.fullscreen {
  width: 100%;
  max-width: initial;
}

.vid-container.theater{
  max-height: 70vh;
}

.vid-container.fullscreen {
  max-height: 100vh;
}

video {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.vid-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.vid-container:hover .vid-controls-container,
.vid-container:focus-within .vid-controls-container,
.vid-container.paused .vid-controls-container {
  opacity: 1;
}

.vid-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  width: 100%;
  aspect-ratio: 6/1;
  z-index: -1;
  pointer-events: none;
}

.vid-controls-container .controls {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
}

.vid-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 30px;
  width: 30px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.duration-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
}

.vid-container .controls button:hover {
  opacity: 1;
}

.vid-container.paused .pause-icon {
  display: none;
}

.vid-container:not(.paused) .play-icon {
  display: none;
}

.vid-container.theater .tall {
  display: none;
}

.vid-container:not(.theater) .wide {
  display: none;
}

.vid-container.fullscreen .open {
  display: none;
}

.vid-container:not(.fullscreen) .close {
  display: none;
}

.volume-high, .volume-low, .volume-muted {
  display: none;
}
/* volume when page is refreshed// volume max on default */
.vid-container:not([data-volume-level]) .volume-high {
  display: block;
}

.vid-container[data-volume-level="high"] .volume-high {
  display: block;
}

.vid-container[data-volume-level="low"] .volume-low {
  display: block;
}

.vid-container[data-volume-level="muted"] .volume-muted {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 0;
  accent-color: rgb(255, 0, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.volume-container:hover .volume-slider ,
.volume-container:focus-within .volume-slider {
  transform: scaleX(1);
  width: 100px;
}

.video-controls-container .controls button.wide-btn {
  width: 50px;
}

/* --- timeline --- */
.timeline {
  position: relative;
  height: 8px;
  margin: 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  overflow: hidden;

  --progress-position: 0;
  --preview-position: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  inset: 0;
  width: calc(var(--progress-position) * 100%);
  background: red;
}

.timeline::after {
  content: "";
  position: absolute;
  inset: 0;
  width: calc(var(--preview-position) * 100%);
  background: rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: opacity 0.12s ease;
}

.timeline:hover::after {
  opacity: 1;
}

/* the white dot on timeline */
.timeline .thumb-indicator {
  position: absolute;
  top: 50%;
  left: calc(var(--progress-position) * 100%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 75%;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  transition: opacity 0.12s ease;
  pointer-events: none;
}

.timeline:hover .thumb-indicator,
.timeline:focus-within .thumb-indicator {
  opacity: 1;
}

/* time on timeline */
.timeline .time-tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: calc(var(--preview-position) * 100%);
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.12s ease;
  pointer-events: none;
}

.timeline:hover .time-tooltip {
  opacity: 1;
}

 .seek-time-box{
  position: absolute;
  bottom: calc(100% + 10px);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 8px;
  background: rgba(0,0,0,0.9);
  color: #fff;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.12s ease;
}

.seek-time-box.show {
  opacity: 1;
}

/*  speed select dropdown */
.speed-select {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
  height: 30px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  font-size: 14px;
}

/* dropdown background*/
.speed-select option {
  background: #212121;
  color: white;
}

.speed-select:hover {
  opacity: 1;
}

/* nav bar */
.lang-bar {
  margin-bottom: 14px;
  display: flex;
  justify-content: center;  
}

.lang-btn {
  background: #212121;
  border: 1px solid #475569;
  color: #e5e7eb;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
}

.lang-btn.active {
  background: #4f46e5;
  border-color: #818cf8;
}

.lang-btn:hover {
  background: #465a85;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background: #212121;
  padding: 24px;
  border-radius: 14px;
}

a {
  color: #818cf8;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #cbd5f5;
}


